.col-md-3
  ul.nav.nav-pills.nav-stacked
    li#topic
      a(href='javascript:void(0)') Topic
    li#chairs
      a(href='javascript:void(0)') Chairs
.col-md-9
  h2= committee.title
    hr
  #topic-content.committee-content
    if committee.topic
      h4= committee.topic
    if committee.topics
      for topic in committee.topics
        h4= topic
    for line in committee.topicBio
      p= line
  #chairs-content.committee-content
    for chair in committee.chairs
      .chair-pic
        img(src='/images/chairs/'+chair+'.jpg')
    hr
    for line in committee.chairsBio
      p= line
